@charset "UTF-8";
.BEM-tournament {
  position: relative;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-height: 256px;
  padding: 54px 16px 32px;
  background-color: #fff;
  border: 3px double #000;
  margin-inline: auto;
  --battler-width: 200px;
  --battler-height: 56px;
  --battler-gap: 8px;
  --match-width: 36px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  --match-height-final: 64px;
  --line-color: #e60012;
}
.BEM-tournament.-html2pdf {
  --battler-width: 192px;
  --battler-height: 64px;
  --battler-gap: 12px;
  --match-width: 44px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  width: 11.69in;
  max-width: inherit;
  margin: auto;
  padding: 0;
  border: none;
}
.BEM-tournament.-html2pdf.-landscape {
  aspect-ratio: 297/210;
}
.BEM-tournament.-html2pdf.-portrait {
  aspect-ratio: 210/297;
}
.BEM-tournament.-html2pdf .BEM-tournament-bracket {
  gap: 1em;
}
.BEM-tournament.-html2pdf .BEM-tournament-bracket .BEM-tournament-bracket_info {
  font-size: 1.2rem;
}
.BEM-tournament .BEM-tournament_body {
  position: relative;
  display: grid;
  justify-content: center;
}
.BEM-tournament .BEM-tournament_option {
  position: absolute;
  top: 16px;
  right: 16px;
}

.BEM-tournament-option .BEM-tournament-option_reset {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  background-color: #666;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #000;
  padding-inline: 1em;
}
.BEM-tournament-option .BEM-tournament-option_reset:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.85;
}
.BEM-tournament-option .BEM-tournament-option_reset:active {
  box-shadow: inset 1px 1px 2px #000;
  transform: translate(1px, 1px);
}

.BEM-tournament_upperText {
  position: absolute;
  top: calc(54px - 2em);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.BEM-tournament_upperText > p {
  height: 2.1rem;
  text-align: center;
}
.BEM-tournament_upperText > p:first-child {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.BEM-tournament_upperText > p:last-child {
  font-size: 1.2rem;
  font-weight: 300;
}
.-html2pdf .BEM-tournament_upperText {
  top: 54px;
}
.-html2pdf .BEM-tournament_upperText > p:first-child {
  font-size: 19px;
}
.-html2pdf .BEM-tournament_upperText > p:last-child {
  font-size: 17px;
  line-height: 2;
}

.BEM-tournament-bracket {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0.5em;
  grid-template-columns: 1fr auto;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: var(--battler-height);
  border: 1px solid #000;
  box-sizing: border-box;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span {
  text-align: center;
  direction: ltr;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span.-name {
  font-size: 1.4rem;
  font-weight: 700;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span.-desc {
  font-size: 1.1rem;
}
.BEM-tournament-bracket .BEM-tournament-bracket_info {
  display: grid;
  align-items: center;
  width: 100%;
  text-align: right;
}

.BEM-tournament-block .BEM-tournament-block_title {
  position: absolute;
  top: 0;
}

.BEM-tournament-match {
  position: relative;
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  grid-template-columns: auto auto;
}
.BEM-tournament-match .BEM-tournament-match_bracket {
  position: relative;
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--battler-gap);
  justify-items: right;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) {
  gap: var(--match-width-final);
  grid-template-columns: 1fr 1fr;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match {
  direction: rtl;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result > .BEM-tournament-result_desc {
  right: auto;
  left: 0.5em;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result .BEM-tournament-result_side::after {
  right: var(--match-width);
  left: auto;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result[data-win=A] > .BEM-tournament-result_side.-sideA::after {
  transform: translate(1px, -1.5px);
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  transform: translate(1px, 1.5px);
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_bracket {
  direction: ltr;
  justify-items: left;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-bracket {
  direction: rtl;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-bracket .BEM-tournament-bracket_info {
  text-align: left;
}
.BEM-tournament-match .BEM-tournament-match_result {
  position: relative;
  display: grid;
  width: var(--match-width);
  gap: var(--battler-gap);
}
.BEM-tournament-match:has(.BEM-tournament-result_winner) > .BEM-tournament-panel {
  position: absolute;
  top: calc(50% + var(--match-width));
  left: 50%;
  transform: translateX(-50%);
}

.BEM-tournament-result {
  position: relative;
  height: 100%;
}
.BEM-tournament-result .BEM-tournament-result_desc {
  position: absolute;
  top: calc(50% + 0.5em);
  left: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--line-color);
  text-align: center;
  margin-top: 0.5em;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.BEM-tournament-result .BEM-tournament-result_desc > br {
  display: none;
}
.BEM-tournament-block .BEM-tournament-result .BEM-tournament-result_desc {
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin: 0;
  line-height: 1;
  transform: translateY(-50%);
}
.BEM-tournament-block .BEM-tournament-result .BEM-tournament-result_desc > br {
  display: block;
}
.BEM-tournament-result .BEM-tournament-result_desc[aria-hidden=true] {
  display: none;
}
.BEM-tournament-result .BEM-tournament-result_winner {
  top: auto;
  bottom: calc(50% + var(--match-height-final));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: 126px;
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.BEM-tournament-result .BEM-tournament-result_winner > span {
  text-align: center;
}
.BEM-tournament-result .BEM-tournament-result_winner > span.-name {
  font-size: 1.6rem;
  font-weight: 700;
}
.BEM-tournament-result .BEM-tournament-result_winner > span.-desc {
  font-size: 1.1rem;
}
.BEM-tournament-result .BEM-tournament-result_side {
  position: relative;
  height: 100%;
  pointer-events: none;
}
.BEM-tournament-result .BEM-tournament-result_side::before {
  position: absolute;
  top: 50%;
  display: block;
  width: var(--match-width);
  height: 1px;
  background-color: #000;
  content: "";
  transform: translateY(-50%);
}
.BEM-tournament-result .BEM-tournament-result_side::after {
  position: absolute;
  left: var(--match-width);
  width: 1px;
  height: calc((100% + var(--battler-gap)) / 2 + 1px);
  background-color: #000;
  content: "";
}
.BEM-tournament-result .BEM-tournament-result_side.-sideA::after {
  top: 50%;
  transform: translateY(-0.5px);
}
[data-win=A] .BEM-tournament-result .BEM-tournament-result_side.-sideA::after {
  transform: translateY(-1.5px);
}
.BEM-tournament-result .BEM-tournament-result_side.-sideB::after {
  bottom: 50%;
  transform: translateY(0.5px);
}
[data-win=B] .BEM-tournament-result .BEM-tournament-result_side.-sideB::after {
  transform: translate(1.5px);
}
.BEM-tournament-result:hover {
  cursor: pointer;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::before, .BEM-tournament-result:hover .BEM-tournament-result_side::after {
  background-color: #7d7d7d;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::before {
  height: 2px;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::after {
  width: 2px;
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::before, .BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::before, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  z-index: 1;
  background-color: var(--line-color);
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::before, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::before {
  height: 3px !important;
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  width: 3px;
  height: calc((100% + var(--battler-gap)) / 2 + 3px);
}
.BEM-tournament-result[data-win=A]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB::after {
  width: 3px;
  height: calc(var(--match-height-final) + 1.5px);
  transform: translate(-1.5px, 1.5px);
}
.BEM-tournament-result[data-win=A]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA::after {
  transform: translate(0.5px, 1.5px);
}
.BEM-tournament-result[data-win=B]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB::after {
  transform: translate(-1.5px, 1.5px);
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after {
  transform: translate(-1px, -1.5px);
}
.BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  transform: translate(-1px, 1.5px);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) {
  display: grid;
  width: var(--match-width-final);
  height: 25%;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side::before {
  width: 100%;
  height: 1px;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side::after {
  top: auto;
  bottom: 50%;
  height: var(--match-height-final);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side.-sideA::after {
  right: -1px;
  left: auto;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side.-sideB::after {
  right: auto;
  left: 0;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner):hover .BEM-tournament-result_side::before {
  height: 2px;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner):hover .BEM-tournament-result_side::after {
  width: 1.5px;
}

.BEM-tournament-panel {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  min-width: var(--match-width-final);
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 4px;
  direction: ltr;
  gap: 12px;
  transform: translate(calc(100% + 8px), -50%);
}
.BEM-tournament-panel[aria-hidden=true] {
  display: none;
}
.BEM-tournament-block:last-child .BEM-tournament-panel {
  right: auto;
  left: 0;
  transform: translate(calc(-100% - 8px), -50%);
}
.BEM-tournament-panel .BEM-tournament-panel_close {
  position: absolute;
  right: 0;
  z-index: 100;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
.BEM-tournament-panel .BEM-tournament-panel_close:hover {
  border: #aaa 1px solid;
}
.BEM-tournament-panel .BEM-tournament-panel_close::before, .BEM-tournament-panel .BEM-tournament-panel_close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 1px;
  background-color: #000;
  content: "";
  transform: translateX(-50%) rotate(45deg);
}
.BEM-tournament-panel .BEM-tournament-panel_close::after {
  transform: translateX(-50%) rotate(-45deg);
}
.BEM-tournament-panel .BEM-tournament-panel_matchContainer {
  display: grid;
  gap: 8px;
}
.BEM-tournament-panel .BEM-tournament-panel_matchLabel {
  font-size: 1.2rem;
  text-align: center;
}
.BEM-tournament-panel .BEM-tournament-panel_match {
  display: grid;
  align-items: center;
  line-height: 2;
  gap: 0.75em;
  grid-template-columns: 1fr auto 1fr;
}
.BEM-tournament-panel .BEM-tournament-panel_battler {
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideA {
  background-color: #ffd8d8;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideA button {
  background-color: #940202;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideB {
  background-color: #d8daff;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideB button {
  background-color: #12008a;
}
.BEM-tournament-panel[data-win=A] .BEM-tournament-panel_battler.-sideB, .BEM-tournament-panel[data-win=B] .BEM-tournament-panel_battler.-sideA {
  background-color: #ccc;
}
.BEM-tournament-panel .BEM-tournament-panel_battlerName {
  min-height: 1rem;
  padding: 0.75rem 1.5rem;
  line-height: 1;
  background-color: #fff;
  box-sizing: content-box;
  white-space: nowrap;
}
.BEM-tournament-panel .BEM-tournament-panel_vs {
  font-size: 1rem;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  margin-top: 8px;
  place-items: center;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect button {
  width: 75%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #000;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect button:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.85;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect button:active {
  box-shadow: inset 1px 1px 2px #000;
  transform: translate(1px, 1px);
}
.BEM-tournament-panel .BEM-tournament-panel_option {
  display: grid;
  justify-content: space-between;
  padding: 8px;
  background-color: #eddfff;
  border-radius: 8px;
  grid-template-columns: auto auto;
}
.BEM-tournament-panel .BEM-tournament-panel_option label {
  display: grid;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #d737ff;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  gap: 0.5em;
  grid-template-columns: auto auto;
  margin-inline: auto;
  place-content: center;
  place-items: center;
}
.BEM-tournament-panel .BEM-tournament-panel_option label input {
  display: inline-block;
  margin: 0;
  border: none;
  accent-color: #d737ff;
  place-content: center;
  place-items: center;
}
.BEM-tournament-panel .BEM-tournament-panel_reset {
  width: 70px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  background-color: #666;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 2px #000;
}
.BEM-tournament-panel .BEM-tournament-panel_reset:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.85;
}
.BEM-tournament-panel .BEM-tournament-panel_reset:active {
  box-shadow: inset 1px 1px 2px #000;
  transform: translate(1px, 1px);
}

.BEM-tournament-setting {
  display: grid;
  padding: 1em 1.5em;
  color: #fff;
  background-color: #333;
  border-radius: 16px;
  gap: 12px;
}
.BEM-tournament-setting ol,
.BEM-tournament-setting ul {
  display: grid;
  list-style: none;
  padding-inline-start: 0;
}
.BEM-tournament-setting ol {
  margin: 0;
  counter-reset: listnum; /* カウンターをリセット */
  gap: 4px;
}
.BEM-tournament-setting ol li {
  display: grid;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #000;
  border-radius: 8px;
  gap: 0.5em;
}
.BEM-tournament-setting ol li::before {
  font-size: 1.4rem;
  font-weight: 700;
  color: #999;
  content: "No." counter(listnum); /* カウントした数に応じて番号を表示 */
  counter-increment: listnum; /* counter-resetと同じ文字列 */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.BEM-tournament-setting ul {
  display: grid;
  margin: 0;
}
.BEM-tournament-setting label {
  display: grid;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.25em;
}
.BEM-tournament-setting input[type=text] {
  padding: 0.25rem 1rem;
}
.BEM-tournament-setting input[type=file] {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.1rem;
  color: rgb(31, 41, 55);
  background-color: #fff;
  border: 1px solid rgb(191, 194, 199);
  border-radius: 0.375rem;
  cursor: pointer;
  padding-right: 0.5rem;
}
.BEM-tournament-setting ::file-selector-button,
.BEM-tournament-setting ::-webkit-file-upload-button {
  padding: 0.25rem 1rem;
  color: rgb(31, 41, 55);
  background-color: rgb(209, 213, 219);
  border: none;
  border-right: 1px solid rgb(191, 194, 199);
  cursor: pointer;
  margin-right: 1rem;
}
.BEM-tournament-setting > form {
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr;
}
.BEM-tournament-setting .BEM-tournament-setting_container {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2em;
}
.BEM-tournament-setting .BEM-tournament-setting_option {
  display: grid;
  gap: 0.5em;
}
.BEM-tournament-setting .BEM-tournament-setting_option ul {
  gap: 1em;
  padding-left: 1em;
}
.BEM-tournament-setting .BEM-tournament-setting_option li:has(input[type=radio]) {
  display: grid;
  align-items: center;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
}
.BEM-tournament-setting .BEM-tournament-setting_option li:has(input[type=radio]) input,
.BEM-tournament-setting .BEM-tournament-setting_option li:has(input[type=radio]) label {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.BEM-tournament-setting .BEM-tournament-setting_entry {
  display: grid;
  gap: 0.5em;
}
.BEM-tournament-setting .BEM-tournament-setting_entry ol {
  height: 420px;
  overflow: scroll;
}
.BEM-tournament-setting .BEM-tournament-setting_entry li {
  grid-template-columns: 5em 1fr 1fr 1fr;
}
.BEM-tournament-setting .BEM-tournament-setting_eventInfo {
  display: grid;
  gap: 0.5em;
}
.BEM-tournament-setting .BEM-tournament-setting_eventInfo ul {
  gap: 1.5em;
}
.BEM-tournament-setting .BEM-tournament-setting_eventInfo p > br {
  display: none;
}
.BEM-tournament-setting .BEM-tournament-setting_submitContainer {
  display: grid;
  justify-items: end;
}
.BEM-tournament-setting .BEM-tournament-setting_submitContainer button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 2em;
  font-size: 1.4rem;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 8px;
}
.BEM-tournament-setting .BEM-tournament-setting_submitContainer button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.BEM-tournament-frame {
  display: grid;
  width: calc(100% - 16px);
  max-width: 1200px;
  padding: 8px;
  background-color: #ccc;
  border-radius: 8px;
  gap: 8px;
  margin-inline: auto;
  overflow: hidden;
}
.BEM-tournament-frame .BEM-tournament-frame_head {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  margin-inline: auto;
}
.BEM-tournament-frame .BEM-tournament-frame_title {
  padding: 0.25em 1em;
  font-size: 1.8rem;
  font-weight: 700;
  color: #666;
  text-align: center;
  border: 1px #999 groove;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  pointer-events: none;
  text-shadow: 0 0 5px #fff;
}
.BEM-tournament-frame .BEM-tournament-frame_body {
  display: grid;
  width: calc(100% - 34px);
  gap: 16px;
  margin-inline: auto;
  overflow: scroll;
}
.BEM-tournament-frame .BEM-tournament-frame_foot {
  display: grid;
}
.BEM-tournament-frame .BEM-tournament-PDFControl > .BEM-tournament-PDFControl_button {
  padding: 1em 2em;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 8px;
}
.BEM-tournament-frame .BEM-tournament-PDFControl > .BEM-tournament-PDFControl_button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.BEM-tournament-frame:has(.-html2pdf) {
  width: -moz-fit-content;
  width: fit-content;
  max-width: none;
  margin: auto;
  padding: 0;
  background: none;
}
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-frame_head,
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-setting,
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-frame_foot,
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-panel,
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-option,
.BEM-tournament-frame:has(.-html2pdf) .BEM-tournament-option_reset {
  display: none;
  opacity: 0;
}

:root {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */