.BEM-tournament {
  display: grid;
  align-items: center;
  max-width: 1024px;
  min-height: 256px;
  padding: 16px;
  border: 1px solid #000;
  aspect-ratio: 297/210;
  margin-inline: auto;
  overflow: scroll;
  --battler-width: 200px;
  --battler-height: 56px;
  --battler-gap: 8px;
  --match-width: 36px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  --line-color: #d50000;
}
.BEM-tournament.-html2pdf {
  background-color: #d50000;
}
.BEM-tournament .BEM-tournament_body {
  display: grid;
  justify-content: center;
}

.BEM-tournament-bracket {
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0.5em;
  grid-template-columns: 1fr auto;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: var(--battler-height);
  border: 1px solid #000;
  box-sizing: border-box;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span {
  text-align: center;
  direction: ltr;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span.-name {
  font-size: 1.4rem;
  font-weight: 700;
}
.BEM-tournament-bracket .BEM-tournament-bracket_container > span.-desc {
  font-size: 1.1rem;
}
.BEM-tournament-bracket .BEM-tournament-bracket_info {
  display: grid;
  align-items: center;
  width: 100%;
  text-align: right;
}

.BEM-tournament-block .BEM-tournament-block_title {
  position: absolute;
  top: 0;
}

.BEM-tournament-match {
  position: relative;
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  grid-template-columns: auto auto;
}
.BEM-tournament-match .BEM-tournament-match_bracket {
  position: relative;
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--battler-gap);
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) {
  gap: var(--match-width-final);
  grid-template-columns: 1fr 1fr;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match {
  direction: rtl;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result > .BEM-tournament-result_desc {
  right: auto;
  left: 0.5em;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_result .BEM-tournament-result_side::after {
  right: var(--match-width);
  left: auto;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-match .BEM-tournament-match_bracket {
  direction: ltr;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-bracket {
  direction: rtl;
}
.BEM-tournament-match .BEM-tournament-match_bracket:has(.BEM-tournament-block) .BEM-tournament-block:last-child .BEM-tournament-bracket .BEM-tournament-bracket_info {
  text-align: left;
}
.BEM-tournament-match .BEM-tournament-match_result {
  position: relative;
  display: grid;
  width: var(--match-width);
  gap: var(--battler-gap);
}
.BEM-tournament-match:has(.BEM-tournament-result_winner) > .BEM-tournament-panel {
  position: absolute;
  top: calc(50% + var(--battler-gap));
  left: 50%;
  transform: translateX(-50%);
}

.BEM-tournament-result {
  position: relative;
  height: 100%;
}
.BEM-tournament-result .BEM-tournament-result_desc {
  position: absolute;
  top: calc(50% + 0.5em);
  left: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--line-color);
  text-align: center;
  margin-top: 0.5em;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.BEM-tournament-result .BEM-tournament-result_desc > br {
  display: none;
}
.BEM-tournament-block .BEM-tournament-result .BEM-tournament-result_desc {
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin: 0;
  line-height: 1;
  transform: translateY(-50%);
}
.BEM-tournament-block .BEM-tournament-result .BEM-tournament-result_desc > br {
  display: block;
}
.BEM-tournament-result .BEM-tournament-result_desc[aria-hidden=true] {
  display: none;
}
.BEM-tournament-result .BEM-tournament-result_winner {
  top: auto;
  bottom: calc(50% + var(--match-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: calc(var(--battler-height) * 1.5);
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.BEM-tournament-result .BEM-tournament-result_side {
  position: relative;
  height: 100%;
  pointer-events: none;
}
.BEM-tournament-result .BEM-tournament-result_side::before {
  position: absolute;
  top: 50%;
  display: block;
  width: var(--match-width);
  height: 1px;
  background-color: #000;
  content: "";
  transform: translateY(-50%);
}
.BEM-tournament-result .BEM-tournament-result_side::after {
  position: absolute;
  left: var(--match-width);
  width: 1px;
  height: calc((100% + var(--battler-gap)) / 2 + 1px);
  background-color: #000;
  content: "";
}
.BEM-tournament-result .BEM-tournament-result_side.-sideA::after {
  top: 50%;
  transform: translateY(-0.5px);
}
[data-win=A] .BEM-tournament-result .BEM-tournament-result_side.-sideA::after {
  transform: translateY(-1.5px);
}
.BEM-tournament-result .BEM-tournament-result_side.-sideB::after {
  bottom: 50%;
  transform: translateY(0.5px);
}
[data-win=B] .BEM-tournament-result .BEM-tournament-result_side.-sideB::after {
  transform: translateY(1.5px);
}
.BEM-tournament-result:hover {
  cursor: pointer;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::before, .BEM-tournament-result:hover .BEM-tournament-result_side::after {
  background-color: #01f;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::before {
  height: 2px;
}
.BEM-tournament-result:hover .BEM-tournament-result_side::after {
  width: 2px;
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::before, .BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::before, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  z-index: 1;
  background-color: var(--line-color);
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::before, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::before {
  height: 3px;
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  width: 3px;
  height: calc((100% + var(--battler-gap)) / 2 + 3px);
}
.BEM-tournament-result[data-win=A]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA::after, .BEM-tournament-result[data-win=B]:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB::after {
  width: 3px;
  height: calc(var(--match-width) + 1.5px);
  transform: translateY(1.5px);
}
.BEM-tournament-result[data-win=A] > .BEM-tournament-result_side.-sideA::after {
  transform: translateY(-1.5px);
}
.BEM-tournament-result[data-win=B] > .BEM-tournament-result_side.-sideB::after {
  transform: translateY(1.5px);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) {
  display: grid;
  width: var(--match-width-final);
  height: 100%;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side::before {
  width: 100%;
  height: 1px;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side::after {
  top: auto;
  bottom: 50%;
  height: var(--match-width);
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side.-sideA::after {
  right: -1px;
  left: auto;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner) .BEM-tournament-result_side.-sideB::after {
  right: auto;
  left: 0;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner):hover .BEM-tournament-result_side::before {
  height: 2px;
}
.BEM-tournament-result:has(.BEM-tournament-result_winner):hover .BEM-tournament-result_side::after {
  width: 1.5px;
}

.BEM-tournament-panel {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  display: grid;
  width: var(--match-width-final);
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 4px;
  direction: ltr;
  transform: translate(calc(100% + 8px), -50%);
}
.BEM-tournament-panel[aria-hidden=true] {
  display: none;
}
.BEM-tournament-block:last-child .BEM-tournament-panel {
  right: auto;
  left: 0;
  transform: translate(calc(-100% - 8px), -50%);
}
.BEM-tournament-panel .BEM-tournament-panel_match {
  display: grid;
  align-items: center;
  line-height: 2;
  gap: 0.75em;
  grid-template-columns: 1fr auto 1fr;
}
.BEM-tournament-panel .BEM-tournament-panel_battler {
  font-size: 1.2rem;
  font-weight: 700;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideA {
  text-align: right;
}
.BEM-tournament-panel .BEM-tournament-panel_battler.-sideB {
  text-align: left;
}
.BEM-tournament-panel .BEM-tournament-panel_vs {
  font-size: 1rem;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.BEM-tournament-panel .BEM-tournament-panel_winnerSelect button {
  width: 75%;
  font-size: 1rem;
}

.BEM-tournament-frame {
  display: grid;
  width: calc(100% - 16px);
  max-width: 1200px;
  padding: 8px;
  background-color: #ccc;
  border-radius: 8px;
  gap: 8px;
  margin-inline: auto;
  overflow: hidden;
}
.BEM-tournament-frame .BEM-tournament-frame_head {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  margin-inline: auto;
}
.BEM-tournament-frame .BEM-tournament-frame_title {
  padding: 0.25em 1em;
  font-size: 1.8rem;
  font-weight: 700;
  color: #666;
  text-align: center;
  border: 1px #999 groove;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  pointer-events: none;
  text-shadow: 0 0 5px #fff;
}
.BEM-tournament-frame .BEM-tournament-frame_body {
  width: calc(100% - 34px);
  background-color: #fff;
}
.BEM-tournament-frame .BEM-tournament-frame_foot {
  display: grid;
}
.BEM-tournament-frame .BEM-tournament-PDFControl > .BEM-tournament-PDFControl_button {
  padding: 1em 2em;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 8px;
}
.BEM-tournament-frame .BEM-tournament-PDFControl > .BEM-tournament-PDFControl_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

:root {
  font-size: 10px;
}/*# sourceMappingURL=index.css.map */