.BEMTournament {
  display: grid;
  align-items: center;
  max-width: 1024px;
  min-height: 256px;
  padding: 16px;
  border: 1px solid #000;
  aspect-ratio: 297/210;
  margin-inline: auto;
  overflow: scroll;
  --battler-width: 200px;
  --battler-height: 56px;
  --battler-gap: 8px;
  --match-width: 36px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  --line-color: #d50000;
}
.BEMTournament.-html2pdf {
  background-color: #d50000;
}
.BEMTournament .BEMTournament_body {
  display: grid;
  justify-content: center;
}

.BEMTournamentBracket {
  display: grid;
  height: fit-content;
  gap: 0.5em;
  grid-template-columns: 1fr auto;
}
.BEMTournamentBracket .BEMTournamentBracket_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: var(--battler-height);
  border: 1px solid #000;
  box-sizing: border-box;
}
.BEMTournamentBracket .BEMTournamentBracket_container > span {
  text-align: center;
  direction: ltr;
}
.BEMTournamentBracket .BEMTournamentBracket_container > span.-name {
  font-size: 1.4rem;
  font-weight: 700;
}
.BEMTournamentBracket .BEMTournamentBracket_container > span.-desc {
  font-size: 1.1rem;
}
.BEMTournamentBracket .BEMTournamentBracket_info {
  display: grid;
  align-items: center;
  width: 100%;
  text-align: right;
}

.BEMTournamentBlock .BEMTournamentBlock_title {
  position: absolute;
  top: 0;
}

.BEMTournamentMatch {
  position: relative;
  display: grid;
  width: fit-content;
  height: 100%;
  grid-template-columns: auto auto;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket {
  position: relative;
  display: grid;
  width: fit-content;
  gap: var(--battler-gap);
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) {
  gap: var(--match-width-final);
  grid-template-columns: 1fr 1fr;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentMatch {
  direction: rtl;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentMatch .BEMTournamentMatch_result > .BEMTournamentResult_desc {
  right: auto;
  left: 0.5em;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentMatch .BEMTournamentMatch_result .BEMTournamentResult_side::after {
  right: var(--match-width);
  left: auto;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentMatch .BEMTournamentMatch_bracket {
  direction: ltr;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentBracket {
  direction: rtl;
}
.BEMTournamentMatch .BEMTournamentMatch_bracket:has(.BEMTournamentBlock) .BEMTournamentBlock:last-child .BEMTournamentBracket .BEMTournamentBracket_info {
  text-align: left;
}
.BEMTournamentMatch .BEMTournamentMatch_result {
  position: relative;
  display: grid;
  width: var(--match-width);
  gap: var(--battler-gap);
}

.BEMTournamentResult {
  position: relative;
  height: 100%;
}
.BEMTournamentResult .BEMTournamentResult_desc {
  position: absolute;
  top: calc(50% + 0.5em);
  left: 50%;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--line-color);
  text-align: center;
  margin-top: 0.5em;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.BEMTournamentResult .BEMTournamentResult_desc > br {
  display: none;
}
.BEMTournamentBlock .BEMTournamentResult .BEMTournamentResult_desc {
  position: absolute;
  top: 50%;
  right: 0.5em;
  margin: 0;
  line-height: 1;
  transform: translateY(-50%);
}
.BEMTournamentBlock .BEMTournamentResult .BEMTournamentResult_desc > br {
  display: block;
}
.BEMTournamentResult .BEMTournamentResult_desc[aria-hidden=true] {
  display: none;
}
.BEMTournamentResult .BEMTournamentResult_winner {
  top: auto;
  bottom: calc(50% + var(--match-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--battler-width);
  height: calc(var(--battler-height) * 1.5);
  border: 1px solid #000;
  box-sizing: border-box;
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.BEMTournamentResult .BEMTournamentResult_side {
  position: relative;
  height: 100%;
  pointer-events: none;
}
.BEMTournamentResult .BEMTournamentResult_side::before {
  position: absolute;
  top: 50%;
  display: block;
  width: var(--match-width);
  height: 1px;
  background-color: #000;
  content: "";
  transform: translateY(-50%);
}
.BEMTournamentResult .BEMTournamentResult_side::after {
  position: absolute;
  left: var(--match-width);
  width: 1px;
  height: calc((100% + var(--battler-gap)) / 2 + 1px);
  background-color: #000;
  content: "";
}
.BEMTournamentResult .BEMTournamentResult_side.-sideA::after {
  top: 50%;
  transform: translateY(-0.5px);
}
[data-win=A] .BEMTournamentResult .BEMTournamentResult_side.-sideA::after {
  transform: translateY(-1.5px);
}
.BEMTournamentResult .BEMTournamentResult_side.-sideB::after {
  bottom: 50%;
  transform: translateY(0.5px);
}
[data-win=B] .BEMTournamentResult .BEMTournamentResult_side.-sideB::after {
  transform: translateY(1.5px);
}
.BEMTournamentResult:hover {
  cursor: pointer;
}
.BEMTournamentResult:hover .BEMTournamentResult_side::before, .BEMTournamentResult:hover .BEMTournamentResult_side::after {
  background-color: #01f;
}
.BEMTournamentResult:hover .BEMTournamentResult_side::before {
  height: 2px;
}
.BEMTournamentResult:hover .BEMTournamentResult_side::after {
  width: 2px;
}
.BEMTournamentResult[data-win=A] > .BEMTournamentResult_side.-sideA::before, .BEMTournamentResult[data-win=A] > .BEMTournamentResult_side.-sideA::after, .BEMTournamentResult[data-win=B] > .BEMTournamentResult_side.-sideB::before, .BEMTournamentResult[data-win=B] > .BEMTournamentResult_side.-sideB::after {
  z-index: 1;
  background-color: var(--line-color);
}
.BEMTournamentResult[data-win=A] > .BEMTournamentResult_side.-sideA::before, .BEMTournamentResult[data-win=B] > .BEMTournamentResult_side.-sideB::before {
  height: 3px;
}
.BEMTournamentResult[data-win=A] > .BEMTournamentResult_side.-sideA::after, .BEMTournamentResult[data-win=B] > .BEMTournamentResult_side.-sideB::after {
  width: 3px;
  height: calc((100% + var(--battler-gap)) / 2 + 3px);
}
.BEMTournamentResult[data-win=A]:has(.BEMTournamentResult_winner) > .BEMTournamentResult_side.-sideA::after, .BEMTournamentResult[data-win=B]:has(.BEMTournamentResult_winner) > .BEMTournamentResult_side.-sideB::after {
  width: 3px;
  height: calc(var(--match-width) + 1.5px);
  transform: translateY(1.5px);
}
.BEMTournamentResult[data-win=A] > .BEMTournamentResult_side.-sideA::after {
  transform: translateY(-1.5px);
}
.BEMTournamentResult[data-win=B] > .BEMTournamentResult_side.-sideB::after {
  transform: translateY(1.5px);
}
.BEMTournamentResult:has(.BEMTournamentResult_winner) {
  display: grid;
  width: var(--match-width-final);
  height: 100%;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.BEMTournamentResult:has(.BEMTournamentResult_winner) .BEMTournamentResult_side::before {
  width: 100%;
  height: 1px;
}
.BEMTournamentResult:has(.BEMTournamentResult_winner) .BEMTournamentResult_side::after {
  top: auto;
  bottom: 50%;
  height: var(--match-width);
}
.BEMTournamentResult:has(.BEMTournamentResult_winner) .BEMTournamentResult_side.-sideA::after {
  right: -1px;
  left: auto;
}
.BEMTournamentResult:has(.BEMTournamentResult_winner) .BEMTournamentResult_side.-sideB::after {
  right: auto;
  left: 0;
}
.BEMTournamentResult:has(.BEMTournamentResult_winner):hover .BEMTournamentResult_side::before {
  height: 2px;
}
.BEMTournamentResult:has(.BEMTournamentResult_winner):hover .BEMTournamentResult_side::after {
  width: 1.5px;
}

.BEMTournamentPanel {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  display: grid;
  width: var(--match-width-final);
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 4px;
  direction: ltr;
  transform: translate(calc(100% + 8px), -50%);
}
.BEMTournamentPanel[aria-hidden=true] {
  display: none;
}
.BEMTournamentBlock:last-child .BEMTournamentPanel {
  right: auto;
  left: 0;
  transform: translate(calc(-100% - 8px), -50%);
}
.BEMTournamentPanel .BEMTournamentPanel_match {
  display: grid;
  align-items: center;
  line-height: 2;
  gap: 0.75em;
  grid-template-columns: 1fr auto 1fr;
}
.BEMTournamentPanel .BEMTournamentPanel_battler {
  font-size: 1.2rem;
  font-weight: 700;
}
.BEMTournamentPanel .BEMTournamentPanel_battler.-sideA {
  text-align: right;
}
.BEMTournamentPanel .BEMTournamentPanel_battler.-sideB {
  text-align: left;
}
.BEMTournamentPanel .BEMTournamentPanel_vs {
  font-size: 1rem;
}
.BEMTournamentPanel .BEMTournamentPanel_winnerSelect {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.BEMTournamentPanel .BEMTournamentPanel_winnerSelect button {
  width: 75%;
  font-size: 1rem;
}
.BEMTournamentMatch:has(.BEMTournamentResult_winner) > .BEMTournamentPanel {
  position: absolute;
  top: calc(50% + var(--battler-gap));
  left: 50%;
  transform: translateX(-50%);
}

.BEMTournamentFrame {
  display: grid;
  width: calc(100% - 16px);
  max-width: 1200px;
  padding: 8px;
  background-color: #ccc;
  border-radius: 8px;
  gap: 8px;
  margin-inline: auto;
  overflow: hidden;
}
.BEMTournamentFrame .BEMTournamentFrame_head {
  display: grid;
  width: fit-content;
  gap: 8px;
  margin-inline: auto;
}
.BEMTournamentFrame .BEMTournamentFrame_title {
  padding: 0.25em 1em;
  font-size: 1.8rem;
  font-weight: 700;
  color: #666;
  text-align: center;
  border: 1px #999 groove;
  border-radius: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  pointer-events: none;
  text-shadow: 0 0 5px #fff;
}
.BEMTournamentFrame .BEMTournamentFrame_body {
  width: calc(100% - 34px);
  background-color: #fff;
}
.BEMTournamentFrame .BEMTournamentFrame_foot {
  display: grid;
}
.BEMTournamentFrame .BEMTournamentPDFControl > .BEMTournamentPDFControl_button {
  padding: 1em 2em;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 8px;
}
.BEMTournamentFrame .BEMTournamentPDFControl > .BEMTournamentPDFControl_button:hover {
  text-decoration: underline;
  cursor: pointer;
}

:root {
  font-size: 10px;
}

/*# sourceMappingURL=index.css.map */
