@use '../mixin' as *;

.BEM-tournament {
  position: relative;
  display: grid;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-height: 256px;
  padding: 54px 16px 32px;
  background-color: #fff;
  border: 3px double #000;
  margin-inline: auto;

  --battler-width: 200px;
  --battler-height: 56px;
  --battler-gap: 8px;
  --match-width: 36px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  --match-height-final: 64px;
  --line-color: #e60012;

  &.-html2pdf {
    --battler-width: 192px;
    --battler-height: 64px;
    --battler-gap: 12px;
    --match-width: 44px;
    --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
    --match-height: calc(var(--battler-height) + var(--battler-gap));

    width: 11.69in;
    max-width: inherit;
    margin: auto;
    padding: 0;
    border: none;

    &.-landscape {
      aspect-ratio: 297/210;
    }

    &.-portrait {
      aspect-ratio: 210/297;
    }

    .BEM-tournament-bracket {
      gap: 1em;

      .BEM-tournament-bracket_info {
        font-size: 1.2rem;
      }
    }
  }

  .BEM-tournament_body {
    position: relative;
    display: grid;
    justify-content: center;
  }

  .BEM-tournament_option {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.BEM-tournament-option {
  .BEM-tournament-option_reset {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #000;
    padding-inline: 1em;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      opacity: 0.85;
    }

    &:active {
      box-shadow: inset 1px 1px 2px #000;
      transform: translate(1px, 1px);
    }
  }
}

.BEM-tournament_upperText {
  position: absolute;
  top: calc(54px - 2em);
  @include center-ab(true, false);

  > p {
    height: 2.1rem;
    text-align: center;

    &:first-child {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.1em;
    }

    &:last-child {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .-html2pdf & {
    top: 54px;

    > p {
      &:first-child {
        font-size: 19px;
      }

      &:last-child {
        font-size: 17px;
        line-height: 2;
      }
    }
  }
}

.BEM-tournament-bracket {
  display: grid;
  height: fit-content;
  gap: 0.5em;
  grid-template-columns: 1fr auto;

  .BEM-tournament-bracket_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--battler-width);
    height: var(--battler-height);
    border: 1px solid #000;
    box-sizing: border-box;

    > span {
      text-align: center;
      direction: ltr;

      &.-name {
        font-size: 1.4rem;
        font-weight: 700;
      }

      &.-desc {
        font-size: 1.1rem;
      }
    }
  }

  .BEM-tournament-bracket_info {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: right;
  }
}

.BEM-tournament-block {
  .BEM-tournament-block_title {
    position: absolute;
    top: 0;
  }
}

.BEM-tournament-match {
  position: relative;
  display: grid;
  width: fit-content;
  height: 100%;
  grid-template-columns: auto auto;

  .BEM-tournament-match_bracket {
    position: relative;
    display: grid;
    width: fit-content;
    gap: var(--battler-gap);
    justify-items: right;

    &:has(.BEM-tournament-block) {
      gap: var(--match-width-final);
      grid-template-columns: 1fr 1fr;

      .BEM-tournament-block:last-child {
        .BEM-tournament-match {
          direction: rtl;

          .BEM-tournament-match_result {
            > .BEM-tournament-result_desc {
              right: auto;
              left: 0.5em;
            }

            .BEM-tournament-result_side::after {
              right: var(--match-width);
              left: auto;
            }

            &[data-win='A'] > .BEM-tournament-result_side.-sideA::after {
              transform: translate(1px, -1.5px);
            }

            &[data-win='B'] > .BEM-tournament-result_side.-sideB::after {
              transform: translate(1px, 1.5px);
            }
          }

          .BEM-tournament-match_bracket {
            direction: ltr;
            justify-items: left;
          }
        }

        .BEM-tournament-bracket {
          direction: rtl;

          .BEM-tournament-bracket_info {
            text-align: left;
          }
        }
      }
    }
  }

  .BEM-tournament-match_result {
    position: relative;
    display: grid;
    width: var(--match-width);
    gap: var(--battler-gap);
  }

  &:has(.BEM-tournament-result_winner) {
    > .BEM-tournament-panel {
      position: absolute;
      top: calc(50% + var(--match-width));
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.BEM-tournament-result {
  position: relative;
  height: calc(100%);

  .BEM-tournament-result_desc {
    position: absolute;
    top: calc(50% + 0.5em);
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--line-color);
    text-align: center;
    margin-top: 0.5em;
    pointer-events: none;
    transform: translate(-50%, -50%);

    > br {
      display: none;
    }

    .BEM-tournament-block & {
      position: absolute;
      top: 50%;
      right: 0.5em;
      margin: 0;
      line-height: 1;
      transform: translateY(-50%);

      > br {
        display: block;
      }
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  .BEM-tournament-result_winner {
    top: auto;
    bottom: calc(50% + var(--match-height-final));
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--battler-width);
    height: 126px;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: default;
    @include center-ab(true, false);

    > span {
      text-align: center;

      // direction: ltr;

      &.-name {
        font-size: 1.6rem;
        font-weight: 700;
      }

      &.-desc {
        font-size: 1.1rem;
      }
    }
  }

  .BEM-tournament-result_side {
    position: relative;
    height: calc(100%);
    pointer-events: none;

    &::before {
      position: absolute;
      top: 50%;
      display: block;
      width: var(--match-width);
      height: 1px;
      background-color: #000;
      content: '';
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      left: var(--match-width);
      width: 1px;
      height: calc((100% + var(--battler-gap)) / 2 + 1px);
      background-color: #000;
      content: '';
    }

    &.-sideA::after {
      top: 50%;
      transform: translateY(-0.5px);

      [data-win='A'] & {
        transform: translateY(-1.5px);
      }
    }

    &.-sideB::after {
      bottom: 50%;
      transform: translateY(0.5px);

      [data-win='B'] & {
        transform: translate(1.5px);
      }
    }
  }

  &:hover {
    cursor: pointer;

    .BEM-tournament-result_side {
      &::before,
      &::after {
        background-color: #7d7d7d;
      }

      &::before {
        height: 2px;
      }

      &::after {
        width: 2px;
      }
    }
  }

  &[data-win='A'] > .BEM-tournament-result_side.-sideA,
  &[data-win='B'] > .BEM-tournament-result_side.-sideB {
    &::before,
    &::after {
      z-index: 1;
      background-color: var(--line-color);
    }

    &::before {
      height: 3px !important;
    }

    &::after {
      width: 3px;
      height: calc((100% + var(--battler-gap)) / 2 + 3px);
    }
  }

  &[data-win='A']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA,
  &[data-win='B']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB {
    &::after {
      width: 3px;
      height: calc(var(--match-height-final) + 1.5px);
      transform: translate(-1.5px, 1.5px);
    }
  }

  &[data-win='A']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA::after {
    transform: translate(0.5px, 1.5px);
  }

  &[data-win='B']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB::after {
    transform: translate(-1.5px, 1.5px);
  }

  &[data-win='A'] > .BEM-tournament-result_side.-sideA::after {
    transform: translate(-1px, -1.5px);
  }

  &[data-win='B'] > .BEM-tournament-result_side.-sideB::after {
    transform: translate(-1px, 1.5px);
  }

  &:has(.BEM-tournament-result_winner) {
    display: grid;
    width: var(--match-width-final);
    height: 25%;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    @include center-ab;

    .BEM-tournament-result_side {
      // width: 50%;

      &::before {
        width: 100%;
        height: 1px;
      }

      &::after {
        top: auto;
        bottom: 50%;
        height: var(--match-height-final);
      }

      &.-sideA::after {
        right: -1px;
        left: auto;
      }

      &.-sideB::after {
        right: auto;
        left: 0;
      }
    }

    &:hover .BEM-tournament-result_side {
      &::before {
        height: 2px;
      }

      &::after {
        width: 1.5px;
      }
    }
  }
}
