@use 'mixin' as *;

.BEM-tournament {
  display: grid;
  align-items: center;
  max-width: 1024px;
  min-height: 256px;
  padding: 16px;
  border: 1px solid #000;
  aspect-ratio: 297/210;
  margin-inline: auto;
  overflow: scroll;

  --battler-width: 200px;
  --battler-height: 56px;
  --battler-gap: 8px;
  --match-width: 36px;
  --match-width-final: calc(var(--battler-width) + var(--match-width) * 2);
  --match-height: calc(var(--battler-height) + var(--battler-gap));
  --line-color: #d50000;

  .BEM-tournament_body {
    display: grid;
    justify-content: center;
  }
}

.BEM-tournament-bracket {
  display: grid;
  height: fit-content;
  gap: 0.5em;
  grid-template-columns: 1fr auto;

  .BEM-tournament-bracket_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--battler-width);
    height: var(--battler-height);
    border: 1px solid #000;
    box-sizing: border-box;

    > span {
      text-align: center;
      direction: ltr;

      &.-name {
        font-size: 1.4rem;
        font-weight: 700;
      }

      &.-desc {
        font-size: 1.1rem;
      }
    }
  }

  .BEM-tournament-bracket_info {
    display: grid;
    align-items: center;
    width: 100%;
    text-align: right;
  }
}

.BEM-tournament-block {
  .BEM-tournament-block_title {
    position: absolute;
    top: 0;
  }
}

.BEM-tournament-match {
  position: relative;
  display: grid;
  width: fit-content;
  height: 100%;
  grid-template-columns: auto auto;

  .BEM-tournament-match_bracket {
    position: relative;
    display: grid;
    width: fit-content;
    gap: var(--battler-gap);

    &:has(.BEM-tournament-block) {
      gap: var(--match-width-final);
      grid-template-columns: 1fr 1fr;

      .BEM-tournament-block:last-child {
        .BEM-tournament-match {
          direction: rtl;

          .BEM-tournament-match_result {
            > .BEM-tournament-result_desc {
              right: auto;
              left: 0.5em;
            }

            .BEM-tournament-result_side::after {
              right: var(--match-width);
              left: auto;
            }
          }

          .BEM-tournament-match_bracket {
            direction: ltr;
          }
        }

        .BEM-tournament-bracket {
          direction: rtl;

          .BEM-tournament-bracket_info {
            text-align: left;
          }
        }
      }
    }
  }

  .BEM-tournament-match_result {
    position: relative;
    display: grid;
    width: var(--match-width);
    gap: var(--battler-gap);
  }

  &:has(.BEM-tournament-result_winner) {
    > .BEM-tournament-panel {
      position: absolute;
      top: calc(50% + var(--match-width));
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.BEM-tournament-result {
  position: relative;
  height: calc(100%);

  .BEM-tournament-result_desc {
    position: absolute;
    top: calc(50% + 0.5em);
    left: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--line-color);
    text-align: center;
    margin-top: 0.5em;
    pointer-events: none;
    transform: translate(-50%, -50%);

    > br {
      display: none;
    }

    .BEM-tournament-block & {
      position: absolute;
      top: 50%;
      right: 0.5em;
      margin: 0;
      line-height: 1;
      transform: translateY(-50%);

      > br {
        display: block;
      }
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  .BEM-tournament-result_winner {
    top: auto;
    bottom: calc(50% + var(--match-width));
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--battler-width);
    height: calc(var(--battler-height) * 1.5);
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: default;
    @include center-ab(true, false);

    > span {
      text-align: center;

      // direction: ltr;

      &.-name {
        font-size: 1.6rem;
        font-weight: 700;
      }

      &.-desc {
        font-size: 1.1rem;
      }
    }
  }

  .BEM-tournament-result_side {
    position: relative;
    height: calc(100%);
    pointer-events: none;

    &::before {
      position: absolute;
      top: 50%;
      display: block;
      width: var(--match-width);
      height: 1px;
      background-color: #000;
      content: '';
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      left: var(--match-width);
      width: 1px;
      height: calc((100% + var(--battler-gap)) / 2 + 1px);
      background-color: #000;
      content: '';
    }

    &.-sideA::after {
      top: 50%;
      transform: translateY(-0.5px);

      [data-win='A'] & {
        transform: translateY(-1.5px);
      }
    }

    &.-sideB::after {
      bottom: 50%;
      transform: translateY(0.5px);

      [data-win='B'] & {
        transform: translateY(1.5px);
      }
    }
  }

  &:hover {
    cursor: pointer;

    .BEM-tournament-result_side {
      &::before,
      &::after {
        background-color: #7d7d7d;
      }

      &::before {
        height: 2px;
      }

      &::after {
        width: 2px;
      }
    }
  }

  &[data-win='A'] > .BEM-tournament-result_side.-sideA,
  &[data-win='B'] > .BEM-tournament-result_side.-sideB {
    &::before,
    &::after {
      z-index: 1;
      background-color: var(--line-color);
    }

    &::before {
      height: 3px;
    }

    &::after {
      width: 3px;
      height: calc((100% + var(--battler-gap)) / 2 + 3px);
    }
  }

  &[data-win='A']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideA,
  &[data-win='B']:has(.BEM-tournament-result_winner) > .BEM-tournament-result_side.-sideB {
    &::after {
      width: 3px;
      height: calc(var(--match-width) + 1.5px);
      transform: translateY(1.5px);
    }
  }

  &[data-win='A'] > .BEM-tournament-result_side.-sideA::after {
    transform: translateY(-1.5px);
  }

  &[data-win='B'] > .BEM-tournament-result_side.-sideB::after {
    transform: translateY(1.5px);
  }

  &:has(.BEM-tournament-result_winner) {
    display: grid;
    width: var(--match-width-final);
    height: 25%;
    gap: 0;
    grid-template-columns: 1fr 1fr;
    @include center-ab;

    .BEM-tournament-result_side {
      // width: 50%;

      &::before {
        width: 100%;
        height: 1px;
      }

      &::after {
        top: auto;
        bottom: 50%;
        height: var(--match-width);
      }

      &.-sideA::after {
        right: -1px;
        left: auto;
      }

      &.-sideB::after {
        right: auto;
        left: 0;
      }
    }

    &:hover .BEM-tournament-result_side {
      &::before {
        height: 2px;
      }

      &::after {
        width: 1.5px;
      }
    }
  }
}

.BEM-tournament-panel {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  display: grid;
  width: fit-content;
  min-width: var(--match-width-final);
  padding: 8px 12px;
  background-color: #fff;

  // border: 2px solid #333;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 75%) 0 0 4px;
  direction: ltr;
  gap: 12px;
  transform: translate(calc(100% + 8px), -50%);

  &[aria-hidden='true'] {
    display: none;
  }

  .BEM-tournament-block:last-child & {
    right: auto;
    left: 0;
    transform: translate(calc(-100% - 8px), -50%);
  }

  .BEM-tournament-panel_close {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border: #aaa 1px solid;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 16px;
      height: 1px;
      background-color: #000;
      content: '';
      transform: translateX(-50%) rotate(45deg);
    }

    &::after {
      transform: translateX(-50%) rotate(-45deg);
    }
  }

  .BEM-tournament-panel_matchContainer {
    display: grid;
    gap: 8px;
  }

  .BEM-tournament-panel_matchLabel {
    font-size: 1.2rem;
    text-align: center;
  }

  .BEM-tournament-panel_match {
    display: grid;
    align-items: center;
    line-height: 2;
    gap: 0.75em;
    grid-template-columns: 1fr auto 1fr;
  }

  .BEM-tournament-panel_battler {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;

    &.-sideA {
      background-color: #ffd8d8;

      button {
        background-color: #940202;
      }
    }

    &.-sideB {
      background-color: #d8daff;

      button {
        background-color: #12008a;
      }
    }
  }

  &[data-win='A'] .BEM-tournament-panel_battler.-sideB {
    background-color: #ccc;
  }

  &[data-win='B'] .BEM-tournament-panel_battler.-sideA {
    background-color: #ccc;
  }

  .BEM-tournament-panel_battlerName {
    padding: 0.75rem 1.5rem;
    line-height: 1;
    background-color: #fff;
    white-space: nowrap;
  }

  .BEM-tournament-panel_vs {
    font-size: 1rem;
  }

  .BEM-tournament-panel_winnerSelect {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    margin-top: 8px;
    place-items: center;

    button {
      width: 75%;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2;
      color: #fff;
      border: none;
      border-radius: 16px;
      box-shadow: 1px 1px 2px #000;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        opacity: 0.85;
      }

      &:active {
        box-shadow: inset 1px 1px 2px #000;
        transform: translate(1px, 1px);
      }
    }
  }

  .BEM-tournament-panel_option {
    display: grid;
    justify-content: space-between;
    padding: 8px;
    background-color: #eddfff;
    border-radius: 8px;
    grid-template-columns: auto auto;

    label {
      display: grid;
      padding: 4px 12px;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      color: #d737ff;
      background-color: #fff;
      border: none;
      border-radius: 16px;
      gap: 0.5em;
      grid-template-columns: auto auto;
      margin-inline: auto;
      place-content: center;
      place-items: center;

      input {
        display: inline-block;
        margin: 0;
        border: none;
        accent-color: #d737ff;
        place-content: center;
        place-items: center;
      }
    }
  }

  .BEM-tournament-panel_reset {
    width: 70px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    background-color: #666;
    border: none;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #000;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
      opacity: 0.85;
    }

    &:active {
      box-shadow: inset 1px 1px 2px #000;
      transform: translate(1px, 1px);
    }
  }
}

.BEM-tournament-frame {
  display: grid;
  width: calc(100% - 16px);
  max-width: 1200px;
  padding: 8px;
  background-color: #ccc;
  border-radius: 8px;
  gap: 8px;
  margin-inline: auto;
  overflow: hidden;

  .BEM-tournament-frame_head {
    display: grid;
    width: fit-content;
    gap: 8px;
    margin-inline: auto;
  }

  .BEM-tournament-frame_title {
    padding: 0.25em 1em;
    font-size: 1.8rem;
    font-weight: 700;
    color: #666;
    text-align: center;
    border: 1px #999 groove;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    pointer-events: none;
    text-shadow: 0 0 5px #fff;
  }

  .BEM-tournament-frame_body {
    width: calc(100% - 34px);
    background-color: #fff;

    &.-html2pdf {
      width: 100%;
      padding: 0;
      border: none;
    }
  }

  .BEM-tournament-frame_foot {
    display: grid;
  }

  .BEM-tournament-PDFControl {
    > .BEM-tournament-PDFControl_button {
      padding: 1em 2em;
      background-color: #fff;
      border: #000 1px solid;
      border-radius: 8px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
