.BEM-app-prelim {
  .BEM-app-prelim__setting {
  }
}

.BEM-app-prelim-setting {
  .BEM-app-prelim-setting__item {
    > p {
      font-size: 1.4rem;
      line-height: 1.5;
    }

    label {
      font-size: 1.2rem;
    }
  }
}
